services:
  backend:
    build:
      context: ./backend
    container_name: cepet-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend/react-app
    container_name: cept-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/react-app:/app
    stdin_open: true
    command: npm run dev -- --host

  db:
    image: postgres:16
    container_name: cepet-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ceptdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
